<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TODO-Vue</title>
    <script src="https://kit.fontawesome.com/48291d9a75.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
<div class="todos" id="app">
 <div class="container">
    <h3 class="todos-title">Todo List - VueJS </h3>
    <div class="section2">
    <input class="todos-input" type="text" @keyup.enter="addTodo" v-model="newTodo" placeholder="Type and press enter..."/>
    <i class="fas fa-plus-circle fa-2x addbutton" @click="addTodo"></i>
    </div>
    <div class="section3">
    <ul class="todos-list">
      <li class="todos-item" v-for="(todo,index) in todos" v-bind:class="{ 'todos-completed': todo.completed }" @click="todo.completed = !todo.completed"> 
        <button class="todos-delete" @click="removeTodo(index)">&times; </button> {{ todo.text }} 
      </li>
    </ul>
    </div>
 </div>
    <div class="section4">
    <div class="clear-button-container"><button class="todos-clear" @click="clearCompleted" v-show="itemsDone.length">Clear completed tasks</button></div>
    <p class="todos-empty" v-show="!todos.length">Nothing to do...!</p>
       <span v-show="itemsTodo.length" class="pending">{{ itemsTodo.length }} pending</span>   
    </div>
  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="vue.js"></script>
</body>