* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
.todos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(#C9D6FF,#E2E2E2);
    align-items: center;
}

.container{
    width: 45%;
    border-radius: 5px;
    margin-top: 1%;
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-image: linear-gradient(#e53835cc,#e35d5bd5);
}

.todos-title{
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px 3px #7d43e9;
}
.section2{
    width: 100%;
}
.todos-input{
    margin-left: 5%;
    width: 80%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid rgb(223, 211, 211);
    background: transparent;
    color: white;
    font-size: 18px;
}
.todos-input::placeholder{
    color: white;
    font-size: 16px;
}
.addbutton{
    color:#ccff33;
    font-size: 32px;
    cursor: pointer;
    transition: 0.25s ease;
}
.addbutton:hover{
    transform: scale(1.1);
    transform-origin: center;
    text-shadow: 0px 0px 5px rgb(236, 233, 233);
}
.todos-completed{
    opacity: 0.4;
    font-weight: 600;
    text-decoration: line-through;
}
.section3{
    width: 90%;
    align-items: center;
}
.todos-item{
    width: 100%;
    background-color: white;
    list-style: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    margin-left: -8%;
    min-height: 30px;
    margin-top: 1%;
    padding: 5px;
    user-select: none;
    transition: 00.25s ease;
    cursor: pointer;
}
.todos-item:hover{
    transform: scale(1.03);
    transform-origin: center;
    background-color: rgba(221, 212, 212, 0.8);
}
.todos-delete{
    border-radius: 50%;
    border: 0px;
    background-color: tomato;
    color: white;
    font-size: 18px;
    align-items: center;
    height: 25px;
    width: 25px;
    transition: 0.25s ease;
    cursor: pointer;
}
.todos-delete:hover{
    transform: scale(1.1);
    color: tomato;
    background-color: white;
    border: 1px solid red;
}
.todos-clear{
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 99, 71, 0.959);
    height: max-content;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    color: white;
    height: 25px;
    margin-top: 2%;
    transition: 0.25s ease;
    cursor: pointer;
}
.todos-clear:hover{
    background-color: rgb(252, 78, 47);
}
.todos-empty{
    font-weight: 600;
}
.pending{
    font-weight: 600;
    user-select: none;
    cursor: default;
}